*.o
*.so
*.csv
*.out
*log*
*.dot
*.txt
*.json
*drawio*
ana
**.tar.gz
.vscode
.cache
tests/__pycache__/*
src/datasetx
**/instructions/*.h
**/instructions/*.cc
**/instructions/*.png
dummy**.asm
instructions2.asm
**/Register/**.cc